{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}
<h2>Add Post for {{user.first_name}} {{user.last_name}}</h2>
<form action="" method="POST" class="row g-3">
    <div class="col-12">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="col-12">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
    </div>
    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/" class="btn btn-danger">Cancel</a>
    </div>
</form>

{% endblock %}