{% extends 'base.html' %}

{% block title %}Create User{% endblock %}

{% block content %}
<h2>Create a new user</h2>
<form action="" method="POST" class="row g-3">
    <div class="col-md-6">
        <label for="first-name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first-name" name="first" required>
    </div>
    <div class="col-md-6">
        <label for="last-name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last-name" name="last" required>
    </div>
    <div class="col-12">
        <label for="profile-image" class="form-label">Profile Image</label>
        <input type="text" class="form-control" id="profile-image" name="image">
    </div>
    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

{% endblock %}